/*Schrijf hier jouw eigen CSS!*/
.container {
    min-width: 1200px;
    margin-block: auto;
    padding-inline: 2rem;
}

.card {
    background-color: white;
    width: 200px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abilities {
    list-style-type: none;
    padding-inline: 50px;
    background-color: lightgrey;
    margin-block: 5px;
}

ul {
    padding-inline: 0;
    list-style-type: none;
}

.card-overview {
    padding-block: 20px;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons {
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}